@charset "utf-8"; 


a:link {text-decoration:none; color:#0066CC;}

a:visited {text-decoration:none; color:#993399;}

a:hover {text-decoration:underline; color:#0066CC;}



.fleft {float:left;}

.fright {float:right;}



.bg_none {background:none;}



/*------------ チE?Eブル --------------*/

.t_news th {background:#F1E2E3; text-align:left; line-height:1.1em;}

.t_news td {padding-bottom:15px; line-height:1.8em;}

.t_event th {background:#EEECD7; text-align:left; line-height:1.1em;}

.t_event td {padding-bottom:15px; line-height:1.8em;}

.table01 {background:#74BB1E;}
.table01 th {background:#D5F2B0; text-align:center;}
.table01 td {text-align:center; background:#FFFFFF;}



.out_line_photo {margin-left:20px;}

.out_line_photo th,.out_line_photo td {text-align:center;}




/*------------ マ?ジン --------------*/
.mgb0 {margin-bottom:0;}
.mg20 {margin:20px;}
.mgb20 {margin-bottom:20px;}
.mg10 {margin:10px;}

.mgl10 {margin-left:10px;}
.mgl50 {margin-left:50px;}
.mgl18 {margin-left:18px;}

.mgr10 {margin-right:10px;}

.mg_auto {margin-left:auto; margin-right:auto;}



/*------------ リンク --------------*/

.arrow {background : url(../images/img_arrow.gif) no-repeat left center; padding-left:20px;}
.arrow2 {background : url(../images/img_arrow2.gif) no-repeat left center; padding-left:20px;}


/*------------ リスチE--------------*/

.list01 li {background : url(../images/list_image01.jpg) no-repeat left center; padding-left:22px; float:left; margin-left:20px; white-space:nowrap; margin-top:0px; margin-bottom:15px; list-style:none;}


.list02 {margin:0; padding:0;}
.list02 li {background : url(../images/img_arrow.gif) no-repeat left center; padding-left:22px; margin-left:5px; white-space:nowrap; margin-top:0px; margin-bottom:15px; list-style:none;}


.block {display:block;} 


/*------------ hr bug --------------*/

div.redrule {height: 1px; background:#FFFFFF; clear:both;}

div.redrule hr {display: none;}

div.redrule * {display: none;}


/*20150410?ǉ?*/

.emphasise {font-weight: 700; font-size: small;}

